.MuiListItemText-primary {
    font-size: 18px !important;
}
.MuiIconButton-label {
    color: #ffffff !important;
}
.quantity {
    margin-right: 5px;
    margin-left: 5px;
}
.MuiListItemText-root {
    max-width: 75% !important;
}
.MuiListItemIcon-root {
    min-width: 32px !important;
}

@media(max-width: 400px) {
    .MuiListItemText-root {
        max-width: 60% !important;
    }
    .MuiListItemText-primary {
        font-size: 14px !important;
    }
}