.MuiListItemText-primary {
    font-size: 18px !important;
}
.MuiIconButton-label {
    color: #ffffff !important;
}
.quantity {
    margin-right: 5px;
    margin-left: 5px;
}
.MuiListItemText-root {
    max-width: 75% !important;
}