.TransactionButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 350px) {
    .TransactionButton {
        font-size: 1.15rem;
        padding: 10px 20px;
    }
}