.DialogBoxContainer{
    min-width: 85%;
    max-width: 100%;
    padding: 16px 28px;
    box-sizing: border-box;
    background: #31365E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 90;
    transform: translate(-50%, -50%);
    animation: slideIn 0.5s ease  1 forwards;
}

.DialogBoxContainer > div > canvas {
    padding: 10px;
}

.DialogBoxContainer > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CombosTickets {
    width: 100%;
}

.DialogBoxHeading {
    font-size: 1.75rem;
    color: #ffffff;
    margin-bottom: 24px;
}

.CloseDialogButton {
    font-size: 36px;
    color: #ffffff;
    position: absolute;
    top: 6px;
    right: 8px;-webkit-text-stroke: 3.5px #31365E;
}

.TicketCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0;
}

.ShowDetail {
    width: 65%;
    color: #ffffff;
}

.ShowName {
    font-size: 0.95rem;
}

.ShowDescription {
    font-size: 0.75rem;
    color: #cccccc;
    margin-top: 4px;
}

.TicketFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 8px;
}

.totalTicketPrice {
    color: #ffffff;
    font-size: 0.95rem;
}

.AddButton {
    outline: none;
    cursor: pointer;
    font-weight: 500;
    color: #ffffff;
    font-size: 0.85rem;
    padding: 5px 10px;
    border-radius: 7.5px;
    background: #31365E;
    border: 2px solid #ffffff;
}

.CounterButtonContainer {
    font-weight: 500;
    color: #31365E;
    font-size: 0.85rem;
    border-radius: 7.5px;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    overflow: hidden;
    width: max-content;
}

.CounterButton {
    font-size: 0.85rem;
    color: #ffffff;
    background: #31365E;
    padding: 5px 8px;
    border: none;
    outline: none;
}

.CounterButton:nth-of-type(1) {
    margin-right: 4px;
}

.CounterButton:nth-of-type(2) {
    margin-left: 4px;
}