.DialogBoxContainer{
    min-width: 85%;
    max-width: 100%;
    padding: 16px 28px;
    box-sizing: border-box;
    background: #31365E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 90;
    transform: translate(-50%, -50%);
    animation: slideIn 0.5s ease  1 forwards;
}

.DialogBoxContainer > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DialogBoxHeading {
    font-size: 1.75rem;
    color: #ffffff;
    margin-bottom: 24px;
}

.CloseDialogButton {
    font-size: 36px;
    color: #ffffff;
    position: absolute;
    top: 6px;
    right: 8px;-webkit-text-stroke: 3.5px #31365E;
}