.MuiListItem-root {
    display: flex !important;
    align-items: center !important;
}
.MuiListItemText-multiline {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
} 
.MuiTypography-root {
    text-align: center !important;
}
.FullPage {
    height: 100%;
}