.Navbar {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7.5%;
    padding: 4px 32px;
    box-sizing: border-box;
    background: transparent linear-gradient(180deg, #343963 0%, #2B2F51 100%) 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Navbar > * > svg {
    width: 30px;
    height: 30px;
    transition: 0.25s;
}

.a {
    fill:none;
}
.b {
    fill:#fff;
    transition: 0.25s;
}

.Navbar > .active > svg path.b {
    fill: #67D5DE;
}
.Navbar > .active > svg {
    transform: scale(1.4);
}

.Navbar > .quantityPrice {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: #ffffff;
}
.Navbar > .viewCart {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
}
.Navbar > .viewCart > .view {
    margin-right: 5px;
}
@media(max-width: 400px) {
    .Navbar > .quantityPrice {
        font-size: 14px;
    }
    .Navbar > .viewCart {
        font-size: 14px;
    }
}